@import "tailwindcss";

@theme inline {
  --color-background: #09090b;
  --color-foreground: #fafafa;
  --color-primary: #F5C100;
  --font-sans: var(--font-rubik);
}

body {
  background-color: #ffffff;
  color: #111111;
  background-image: radial-gradient(circle, #e5e7eb 1px, transparent 1px);
  background-size: 24px 24px;
}
